<!-- <div class="container">
    <h2>Edit Recipe</h2>
    
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Categories</label>
        <div *ngFor="let category of categories">
          <input type="checkbox" [value]="category.id" [(ngModel)]="selectedCategories" (change)="toggleCategorySelection(category.id)" name="categories" />
          <label>{{ category.name }}</label>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
   -->